# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a script go generate an executable file,
#  so they are not needed in VCS locations.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to https://pipenv.pypa.io/en/latest/basics/#pipfile-vs-pipfile-lock
#   Pipfile.lock is important and should be version controlled.
#   However, Pipfile is equally important and should also be version controlled.
#   Therefore, we don't ignore Pipfile.lock nor Pipfile.
# Pipfile.lock

# poetry
#   Similar to Pipfile.lock, poetry.lock should be version controlled.
#   Therefore, we don't ignore poetry.lock.
# poetry.lock

# pdm
#   Similar to Pipfile.lock, pdm.lock should be version controlled.
#   Therefore, we don't ignore pdm.lock.
# pdm.lock
# .pdm.toml

# PEP 582; __pypackages__ directory specified by PEP 582 is ignored.
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static checker
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.
#  Consider using https://github.com/joeblau/gitignore.io for generating a comprehensivegitignore file.
.idea/
*.iml

# VSCode
.vscode/

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Key files
auth_service/keys/
*.pem
